/* EventForm.css */

.form-container {
    width: 50%;
    margin: auto;
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group textarea {
    height: 100px; /* Adjust height as needed */
  }
  
  .form-group input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .form-group input[type="time"] {
    padding: 10px 5px;
  }
  
  .form-group button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  