.contact-page {
    /* background-color: #f7f7f7; */
    color: #333;
  }
  

  
  .contact-header h1 {
    font-size: 2em;
  }
  
  .contact-main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form-container {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #000000;
  }
  
  .contact-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1000px;
    color: #333;
    margin-left: 400px;
    margin-top: 40px;
  }
  
  .contact-info-left {
    flex: 1;
    padding-right: 50px;
    margin-right: 40px;
    margin-top: 100px; 
  }
  .contact-info-left h2{
    font-size: 50px;
    color:rgb(139, 12, 12);
    margin-top: -40px;
  }
  .title1 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
  }
  
  .contact-info-right {
    flex: 1;
    margin-top: 50px;
  }
  
  .contact-info-right div {
    margin-bottom: 20px;
  }
  
  .google-map-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .google-map {
    border: 0;
  }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .footer-container {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-size: 18px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .footer-section h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 8px;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .icon-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .icon-link:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 0.9rem;
    margin: 0;
  }
  