.admin-table {
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 300px;
    /* border-color: black; */
  }
  
  .admin-table th,
  .admin-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .admin-table th {
    background-color: #f2f2f2;
  }
  
  .admin-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .admin-table tbody tr:hover {
    background-color: #ddd;
  }
  #approvebtn{
    background-color: bisque;
    border: none;
    box-shadow: 1px 1px black;
    border-radius: 5cm;
    font-size: large;
    padding: 5px;
  }
  #deletebtn{
    background-color: bisque;
    border: none;
    box-shadow: 1px 1px black;
    border-radius: 5cm;
    font-size: large;
    padding: 5px;
    margin-left: 5px;
  }
  