/* .footer{
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    background-color: black;
    color: white;
}
#f1{
    padding: 10px;
} */

.footer-container {
    /* position: sticky; */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-size: 18px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .footer-section h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 8px;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .icon-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .icon-link:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 0.9rem;
    margin: 0;
  }
  