/* Gallery.css */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
  }
  
  .gallery-card {
    width:300px;
    height: fit-content;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  
  }
  
  .gallery-card:hover {
    transform: scale(1.05);
  }
  
  .gallery-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  #s-title {
    color: #333;
  }
  